In [64]:
!pip install pymongo
import pandas as pd
import pymongo
from pymongo import MongoClient

Requirement already satisfied: pymongo in c:\users\student\anaconda3\lib\site-packages (3.11.4)

In [65]:
client = MongoClient('localhost', 27017)

In [66]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [67]:
db = client.Cannon

In [68]:
people = pd.read_csv("Project_2_Data/People.csv")

In [69]:
people.head()

,id,first_name,last_name,graduation_year,age,number_of_family_members,fav_color,fav_animal,fav_tv_show,fav_movie,beach_or_mtns,fav_icecream,hometown_id,major,second_major,minor,favorite_hobby_id,second_favorite_hobby_id,fav_artist_id
0,1,Matt,Nicklas,2018,25,3,blue,shark,Dexter,Dark Knight,beach,cookie dough,Springfield,Mechanical Engineering,NaN,Environmental Engineering,Board games,Frisbee golf,Coldplay
1,2,Cannon,Johns,2024,18,3,blue,giraffe,Arrested Development,Star Wars,beach,salted caramel,Philadelphia,Computer Science (BA),Commerce,NaN,Surfing,Skating,Hippo Campus
2,3,Serene,Lu,2024,19,5,blue,bunny,New Girl,Inception,beach,cookies n' cream,Burke,Computer Science (BA),Statistics,NaN,Playing guitar,Sleeping,Giveon
3,4,Aayushma,Bastola,2023,20,3,green,elephant,Fleabag,Get Out,mountains,coffee,Fairfax,Commerce,Public Policy and Leadership,NaN,Singing,Eating,Taylor Swift

In [70]:
artists = pd.read_csv("Project_2_Data/Artists.csv")
interests = pd.read_csv("Project_2_Data/Interests.csv")
majors = pd.read_csv("Project_2_Data/Majors.csv")
music = pd.read_csv("Project_2_Data/Music.csv")
towns = pd.read_csv("Project_2_Data/Towns.csv")

In [71]:
collection = db.people

In [72]:
cannon = people.iloc[1]

In [73]:
cannon

id                                              2
first_name                                 Cannon
last_name                                   Johns
graduation_year                              2024
age                                            18
number_of_family_members                        3
fav_color                                    blue
fav_animal                                giraffe
fav_tv_show                  Arrested Development
fav_movie                               Star Wars
beach_or_mtns                               beach
fav_icecream                       salted caramel
hometown_id                          Philadelphia
major                       Computer Science (BA)
second_major                             Commerce
minor                                         NaN
favorite_hobby_id                         Surfing
second_favorite_hobby_id                  Skating
fav_artist_id                        Hippo Campus
Name: 1, dtype: object

In [74]:
majors.head()

,id,major,number_of_classes,school,credits,avg_start_salary,application_based,graduation_honors_gpa
0,1,Mechanical Engineering,40,Engineering,115,"60,000",False,3.4
1,2,Computer Science (BA),38,Arts and Sciences,112,"68,600",False,3.6
2,3,Computer Science (BS),38,Engineering,112,"68,600",False,3.4
3,4,Commerce,36,McIntire,108,"62,905",True,3.8
4,5,Public Policy and Leadership,37,Batten,110,"49,380",True,3.4

In [75]:
cannon_major_1_dic = {}
cannon_major_1 = majors.iloc[1]
for i in range(len(cannon_major_1)):
    cannon_major_1_dic[cannon_major_1.index[i]] = str(cannon_major_1[i])

In [76]:
cannon_major_1_dic

{'id': '2',
 'major': 'Computer Science (BA)',
 'number_of_classes': '38',
 'school': 'Arts and Sciences',
 'credits': '112',
 'avg_start_salary': '68,600',
 'application_based': 'False',
 'graduation_honors_gpa': '3.6'}

In [77]:
cannon_major_2_dic = {}
cannon_major_2 = majors.iloc[3]
for i in range(len(cannon_major_1)):
    cannon_major_2_dic[cannon_major_2.index[i]] = str(cannon_major_2[i])
cannon_major_2_dic

{'id': '4',
 'major': 'Commerce',
 'number_of_classes': '36',
 'school': 'McIntire',
 'credits': '108',
 'avg_start_salary': '62,905',
 'application_based': 'True',
 'graduation_honors_gpa': '3.8'}

In [78]:
towns.head()

,id,town,county,state,country,population,zipcode,area_code
0,1,Philadelphia,Philadelphia,Pennsylvania,USA,1579000,19019,215
1,2,Springfield,Fairfax,Virginia,USA,32222,22153,703
2,3,Reading,Berks,Pennsylvania,USA,88232,19601,671
3,4,Burke,Fairfax,Virginia,USA,41055,22015,703
4,5,Mt Olympus,NaN,NaN,Greece,7103,84109,344

In [79]:
cannon_hometown_dic = {}
cannon_hometown = towns.iloc[0]
for i in range(len(cannon_hometown)):
    cannon_hometown_dic[cannon_hometown.index[i]] = str(cannon_hometown[i])
cannon_hometown_dic

{'id': '1',
 'town': 'Philadelphia',
 'county': 'Philadelphia',
 'state': 'Pennsylvania',
 'country': 'USA',
 'population': '1579000',
 'zipcode': '19019',
 'area_code': '215'}

In [80]:
interests.head()

,id,hobbies,location,most_famous_person,skill_level_required,risk_factor,category
0,1,Surfing,Beach,Shaun White,9,9,Sport
1,2,Frisbee golf,Forest,Paul McBeth,6,4,Sport
2,3,Board games,Home,Monopoly Man,3,2,Leisure
3,4,Eating,Anywhere,Guy Fieri,1,8,Leisure
4,5,Video games,Home,PewDiePie,5,2,Leisure

In [81]:
cannon_interest_1_dic = {}
cannon_interest_1 = interests.iloc[0]
for i in range(len(cannon_interest_1)):
    cannon_interest_1_dic[cannon_interest_1.index[i]] = str(cannon_interest_1[i])
cannon_interest_1_dic

{'id': '1',
 'hobbies': 'Surfing',
 'location': 'Beach',
 'most_famous_person': 'Shaun White',
 'skill_level_required': '9',
 'risk_factor': '9',
 'category': 'Sport'}

In [82]:
cannon_interest_2_dic = {}
cannon_interest_2 = interests.iloc[7]
for i in range(len(cannon_interest_2)):
    cannon_interest_2_dic[cannon_interest_2.index[i]] = str(cannon_interest_2[i])
cannon_interest_2_dic

{'id': '8',
 'hobbies': 'Skating',
 'location': 'Skate Park',
 'most_famous_person': 'Tony Hawk',
 'skill_level_required': '8',
 'risk_factor': '9',
 'category': 'Sport'}

In [83]:
cannon_artist_dic = {}
cannon_artist = artists.iloc[22]
for i in range(len(cannon_artist)):
    cannon_artist_dic[cannon_artist.index[i]] = str(cannon_artist[i])
cannon_artist_dic

{'id': '24',
 'name': 'Hippo Campus',
 'monthly_listens': '2744585',
 'hometown_id': 'Saint Paul',
 'age': '27',
 'net_worth': '21,000,000',
 'most_popular_song': 'Buttercup',
 'interest_id': 'Skating'}

In [84]:
nest = {}
for i in range(len(cannon)):
    nest[cannon.index[i]] = str(cannon[i])
nest

{'id': '2',
 'first_name': 'Cannon',
 'last_name': 'Johns',
 'graduation_year': '2024',
 'age': '18',
 'number_of_family_members': '3',
 'fav_color': 'blue',
 'fav_animal': 'giraffe',
 'fav_tv_show': 'Arrested Development',
 'fav_movie': 'Star Wars',
 'beach_or_mtns': 'beach',
 'fav_icecream': 'salted caramel',
 'hometown_id': 'Philadelphia',
 'major': 'Computer Science (BA)',
 'second_major': 'Commerce',
 'minor': 'nan',
 'favorite_hobby_id': 'Surfing',
 'second_favorite_hobby_id': 'Skating',
 'fav_artist_id': 'Hippo Campus'}

In [85]:
nest['major'] = cannon_major_1_dic

In [86]:
nest

{'id': '2',
 'first_name': 'Cannon',
 'last_name': 'Johns',
 'graduation_year': '2024',
 'age': '18',
 'number_of_family_members': '3',
 'fav_color': 'blue',
 'fav_animal': 'giraffe',
 'fav_tv_show': 'Arrested Development',
 'fav_movie': 'Star Wars',
 'beach_or_mtns': 'beach',
 'fav_icecream': 'salted caramel',
 'hometown_id': 'Philadelphia',
 'major': {'id': '2',
  'major': 'Computer Science (BA)',
  'number_of_classes': '38',
  'school': 'Arts and Sciences',
  'credits': '112',
  'avg_start_salary': '68,600',
  'application_based': 'False',
  'graduation_honors_gpa': '3.6'},
 'second_major': 'Commerce',
 'minor': 'nan',
 'favorite_hobby_id': 'Surfing',
 'second_favorite_hobby_id': 'Skating',
 'fav_artist_id': 'Hippo Campus'}

In [87]:
nest['second_major'] = cannon_major_2_dic
nest['hometown_id'] = cannon_hometown_dic
nest['favorite_hobby_id'] = cannon_interest_1_dic
nest['second_favorite_hobby_id'] = cannon_interest_2_dic
nest['fav_artist_id'] = cannon_artist_dic

In [88]:
nest

{'id': '2',
 'first_name': 'Cannon',
 'last_name': 'Johns',
 'graduation_year': '2024',
 'age': '18',
 'number_of_family_members': '3',
 'fav_color': 'blue',
 'fav_animal': 'giraffe',
 'fav_tv_show': 'Arrested Development',
 'fav_movie': 'Star Wars',
 'beach_or_mtns': 'beach',
 'fav_icecream': 'salted caramel',
 'hometown_id': {'id': '1',
  'town': 'Philadelphia',
  'county': 'Philadelphia',
  'state': 'Pennsylvania',
  'country': 'USA',
  'population': '1579000',
  'zipcode': '19019',
  'area_code': '215'},
 'major': {'id': '2',
  'major': 'Computer Science (BA)',
  'number_of_classes': '38',
  'school': 'Arts and Sciences',
  'credits': '112',
  'avg_start_salary': '68,600',
  'application_based': 'False',
  'graduation_honors_gpa': '3.6'},
 'second_major': {'id': '4',
  'major': 'Commerce',
  'number_of_classes': '36',
  'school': 'McIntire',
  'credits': '108',
  'avg_start_salary': '62,905',
  'application_based': 'True',
  'graduation_honors_gpa': '3.8'},
 'minor': 'nan',
 'favorite_hobby_id': {'id': '1',
  'hobbies': 'Surfing',
  'location': 'Beach',
  'most_famous_person': 'Shaun White',
  'skill_level_required': '9',
  'risk_factor': '9',
  'category': 'Sport'},
 'second_favorite_hobby_id': {'id': '8',
  'hobbies': 'Skating',
  'location': 'Skate Park',
  'most_famous_person': 'Tony Hawk',
  'skill_level_required': '8',
  'risk_factor': '9',
  'category': 'Sport'},
 'fav_artist_id': {'id': '24',
  'name': 'Hippo Campus',
  'monthly_listens': '2744585',
  'hometown_id': 'Saint Paul',
  'age': '27',
  'net_worth': '21,000,000',
  'most_popular_song': 'Buttercup',
  'interest_id': 'Skating'}}

In [89]:
collection.insert_one(nest)

In [90]:
collection.find_one({'first_name':"Cannon"})

{'_id': ObjectId('60b7f40476f48596df799400'),
 'id': '2',
 'first_name': 'Cannon',
 'last_name': 'Johns',
 'graduation_year': '2024',
 'age': '18',
 'number_of_family_members': '3',
 'fav_color': 'blue',
 'fav_animal': 'giraffe',
 'fav_tv_show': 'Arrested Development',
 'fav_movie': 'Star Wars',
 'beach_or_mtns': 'beach',
 'fav_icecream': 'salted caramel',
 'hometown_id': {'id': '1',
  'town': 'Philadelphia',
  'county': 'Philadelphia',
  'state': 'Pennsylvania',
  'country': 'USA',
  'population': '1579000',
  'zipcode': '19019',
  'area_code': '215'},
 'major': {'id': '2',
  'major': 'Computer Science (BA)',
  'number_of_classes': '38',
  'school': 'Arts and Sciences',
  'credits': '112',
  'avg_start_salary': '68,600',
  'application_based': 'False',
  'graduation_honors_gpa': '3.6'},
 'second_major': {'id': '4',
  'major': 'Commerce',
  'number_of_classes': '36',
  'school': 'McIntire',
  'credits': '108',
  'avg_start_salary': '62,905',
  'application_based': 'True',
  'graduation_honors_gpa': '3.8'},
 'minor': 'nan',
 'favorite_hobby_id': {'id': '1',
  'hobbies': 'Surfing',
  'location': 'Beach',
  'most_famous_person': 'Shaun White',
  'skill_level_required': '9',
  'risk_factor': '9',
  'category': 'Sport'},
 'second_favorite_hobby_id': {'id': '8',
  'hobbies': 'Skating',
  'location': 'Skate Park',
  'most_famous_person': 'Tony Hawk',
  'skill_level_required': '8',
  'risk_factor': '9',
  'category': 'Sport'},
 'fav_artist_id': {'id': '24',
  'name': 'Hippo Campus',
  'monthly_listens': '2744585',
  'hometown_id': 'Saint Paul',
  'age': '27',
  'net_worth': '21,000,000',
  'most_popular_song': 'Buttercup',
  'interest_id': 'Skating'}}

In [1]:
!pip install pymongo
import pandas as pd
import pymongo
from pymongo import MongoClient

Collecting pymongo
  Downloading pymongo-3.11.4-cp38-cp38-win_amd64.whl (383 kB)
Installing collected packages: pymongo
Successfully installed pymongo-3.11.4

In [13]:
client = MongoClient('localhost', 27017)

In [14]:
db = client.Matthew #Create a database called "Matthew"

In [17]:
#Create the "people" collection
collection = db.people
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Matthew')

In [16]:
print("hi")

hi

In [20]:
#Read in all the csv files from my local repo
people = pd.read_csv("Project_2_Data/People.csv")
artists = pd.read_csv("Project_2_Data/Artists.csv")
interests = pd.read_csv("Project_2_Data/Interests.csv")
majors = pd.read_csv("Project_2_Data/Majors.csv")
music = pd.read_csv("Project_2_Data/Music.csv")
towns = pd.read_csv("Project_2_Data/Towns.csv")

In [11]:
matthew = people.iloc[0]

In [12]:
matthew

id                                                  1
first_name                                       Matt
last_name                                     Nicklas
graduation_year                                  2018
age                                                25
number_of_family_members                            3
fav_color                                        blue
fav_animal                                      shark
fav_tv_show                                    Dexter
fav_movie                                 Dark Knight
beach_or_mtns                                   beach
fav_icecream                             cookie dough
hometown_id                               Springfield
major                          Mechanical Engineering
second_major                                      NaN
minor                       Environmental Engineering
favorite_hobby_id                         Board games
second_favorite_hobby_id                 Frisbee golf
fav_artist_id                                Coldplay
Name: 0, dtype: object

In [19]:
people.head()

,id,first_name,last_name,graduation_year,age,number_of_family_members,fav_color,fav_animal,fav_tv_show,fav_movie,beach_or_mtns,fav_icecream,hometown_id,major,second_major,minor,favorite_hobby_id,second_favorite_hobby_id,fav_artist_id
0,1,Matt,Nicklas,2018,25,3,blue,shark,Dexter,Dark Knight,beach,cookie dough,Springfield,Mechanical Engineering,NaN,Environmental Engineering,Board games,Frisbee golf,Coldplay
1,2,Cannon,Johns,2024,18,3,blue,giraffe,Arrested Development,Star Wars,beach,salted caramel,Philadelphia,Computer Science (BA),Commerce,NaN,Surfing,Skating,Hippo Campus
2,3,Serene,Lu,2024,19,5,blue,bunny,New Girl,Inception,beach,cookies n' cream,Burke,Computer Science (BA),Statistics,NaN,Playing guitar,Sleeping,Giveon
3,4,Aayushma,Bastola,2023,20,3,green,elephant,Fleabag,Get Out,mountains,coffee,Fairfax,Commerce,Public Policy and Leadership,NaN,Singing,Eating,Taylor Swift

In [24]:
#Creating Dictionary for Matt's major
matthew_major_1_dic = {}
matthew_major_1 = majors.iloc[0]
for i in range(len(matthew_major_1)):
    matthew_major_1_dic[matthew_major_1.index[i]] = str(matthew_major_1[i])

In [25]:
matthew_major_1_dic

{'id': '1',
 'major': 'Mechanical Engineering',
 'number_of_classes': '40',
 'school': 'Engineering',
 'credits': '115',
 'avg_start_salary': '60,000',
 'application_based': 'False',
 'graduation_honors_gpa': '3.4'}

In [28]:
#Creating Dictionary for Matt's major
matthew_major_2_dic = {}
matthew_major_2_dic

{}

In [29]:
#Creating Dictionary for Matt's hometown
matthew_hometown_dic = {}
matthew_hometown = towns.iloc[1]
for i in range(len(matthew_hometown)):
    matthew_hometown_dic[matthew_hometown.index[i]] = str(matthew_hometown[i])

In [30]:
matthew_hometown_dic

{'id': '2',
 'town': 'Springfield',
 'county': 'Fairfax',
 'state': 'Virginia',
 'country': 'USA',
 'population': '32222',
 'zipcode': '22153',
 'area_code': '703'}

In [31]:
interests.head()

,id,hobbies,location,most_famous_person,skill_level_required,risk_factor,category
0,1,Surfing,Beach,Shaun White,9,9,Sport
1,2,Frisbee golf,Forest,Paul McBeth,6,4,Sport
2,3,Board games,Home,Monopoly Man,3,2,Leisure
3,4,Eating,Anywhere,Guy Fieri,1,8,Leisure
4,5,Video games,Home,PewDiePie,5,2,Leisure

In [35]:
#Creating Dictionary for Matt's interests
matthew_interest_dic = {}
matthew_interest = interests.iloc[2]
for i in range(len(matthew_interest)):
    matthew_interest_dic[matthew_interest.index[i]] = str(matthew_interest[i])
    
#Creating Dictionary for Matt's interests
matthew_interest_2_dic = {}
matthew_interest_2 = interests.iloc[1]
for i in range(len(matthew_interest_2)):
    matthew_interest_2_dic[matthew_interest_2.index[i]] = str(matthew_interest_2[i])

In [37]:
matthew_interest_dic

{'id': '3',
 'hobbies': 'Board games ',
 'location': 'Home',
 'most_famous_person': 'Monopoly Man',
 'skill_level_required': '3',
 'risk_factor': '2',
 'category': 'Leisure'}

In [38]:
matthew_interest_2_dic

{'id': '2',
 'hobbies': 'Frisbee golf',
 'location': 'Forest',
 'most_famous_person': 'Paul McBeth',
 'skill_level_required': '6',
 'risk_factor': '4',
 'category': 'Sport'}

In [40]:
artists.head()

,id,name,monthly_listens,hometown_id,age,net_worth,most_popular_song,interest_id
0,1,Taylor Swift,42961049,Reading,31,"400,000,000",Shake It Off,Playing guitar
1,2,HAIM,5493993,Los Angeles,35,"5,000,000",The Wire,Playing guitar
2,3,Amy Winehouse,11016435,London,27,"5,000,000",Back to Black,Playing guitar
3,4,Florence + the Machine,10407322,London,34,"28,000,000",Dog Days are Over,Reading
4,5,Chase Atlantic,6279620,Cairns,24,"7,300,000",Friends,Skating

In [47]:
#Creating Dictionary for Matt's favorite artist 
matthew_artist_dic = {}
matthew_artist = artists.iloc[29]
for i in range(len(matthew_artist)):
    matthew_artist_dic[matthew_artist.index[i]] = str(matthew_artist[i])

In [48]:
matthew_artist_dic

{'id': '31',
 'name': 'Coldplay',
 'monthly_listens': '45445380',
 'hometown_id': 'London',
 'age': '44',
 'net_worth': '475,000,000',
 'most_popular_song': 'Something Just Like This',
 'interest_id': 'Frisbee golf'}

In [49]:
#Create our collection for me 
nest_matthew = {}
for i in range(len(matthew)):
    nest_matthew[matthew.index[i]] = str(matthew[i])
nest_matthew

{'id': '1',
 'first_name': 'Matt',
 'last_name': 'Nicklas',
 'graduation_year': '2018',
 'age': '25',
 'number_of_family_members': '3',
 'fav_color': 'blue',
 'fav_animal': 'shark',
 'fav_tv_show': 'Dexter',
 'fav_movie': 'Dark Knight',
 'beach_or_mtns': 'beach',
 'fav_icecream': 'cookie dough',
 'hometown_id': 'Springfield',
 'major': 'Mechanical Engineering',
 'second_major': 'nan',
 'minor': 'Environmental Engineering',
 'favorite_hobby_id': 'Board games',
 'second_favorite_hobby_id': 'Frisbee golf',
 'fav_artist_id': 'Coldplay'}

In [50]:
nest_matthew['major'] = matthew_major_1_dic
nest_matthew['hometown_id'] = matthew_hometown_dic
nest_matthew['favorite_hobby_id'] = matthew_interest_dic
nest_matthew['second_favorite_hobby_id'] = matthew_interest_2_dic
nest_matthew['fav_artist_id'] = matthew_artist_dic

In [51]:
nest_matthew

{'id': '1',
 'first_name': 'Matt',
 'last_name': 'Nicklas',
 'graduation_year': '2018',
 'age': '25',
 'number_of_family_members': '3',
 'fav_color': 'blue',
 'fav_animal': 'shark',
 'fav_tv_show': 'Dexter',
 'fav_movie': 'Dark Knight',
 'beach_or_mtns': 'beach',
 'fav_icecream': 'cookie dough',
 'hometown_id': {'id': '2',
  'town': 'Springfield',
  'county': 'Fairfax',
  'state': 'Virginia',
  'country': 'USA',
  'population': '32222',
  'zipcode': '22153',
  'area_code': '703'},
 'major': {'id': '1',
  'major': 'Mechanical Engineering',
  'number_of_classes': '40',
  'school': 'Engineering',
  'credits': '115',
  'avg_start_salary': '60,000',
  'application_based': 'False',
  'graduation_honors_gpa': '3.4'},
 'second_major': 'nan',
 'minor': 'Environmental Engineering',
 'favorite_hobby_id': {'id': '3',
  'hobbies': 'Board games ',
  'location': 'Home',
  'most_famous_person': 'Monopoly Man',
  'skill_level_required': '3',
  'risk_factor': '2',
  'category': 'Leisure'},
 'second_favorite_hobby_id': {'id': '2',
  'hobbies': 'Frisbee golf',
  'location': 'Forest',
  'most_famous_person': 'Paul McBeth',
  'skill_level_required': '6',
  'risk_factor': '4',
  'category': 'Sport'},
 'fav_artist_id': {'id': '31',
  'name': 'Coldplay',
  'monthly_listens': '45445380',
  'hometown_id': 'London',
  'age': '44',
  'net_worth': '475,000,000',
  'most_popular_song': 'Something Just Like This',
  'interest_id': 'Frisbee golf'}}

In [52]:
collection.insert_one(nest_matthew)

In [3]:
!pip install pymongo
import pandas as pd
import pymongo
from pymongo import MongoClient

Requirement already satisfied: pymongo in ./opt/anaconda3/lib/python3.8/site-packages (3.11.4)

In [4]:
client = MongoClient('localhost', 27017)

In [5]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [6]:
db = client.Serene

In [7]:
people = pd.read_csv("/Users/serenelu/Desktop/Project_2_Names.csv")

In [8]:
people.head()

,id,first_name,last_name,graduation_year,age,number_of_family_members,fav_color,fav_animal,fav_tv_show,fav_movie,beach_or_mtns,fav_icecream,hometown,major,second_major,minor,favorite_hobby,second_favorite_hobby,fav_artist
0,1,Matt,Nicklas,2018,25,3,blue,shark,Dexter,Dark Knight,beach,cookie dough,Springfield,Mechanical Engineering,NaN,Environmental Engineering,Board games,Frisbee golf,Coldplay
1,2,Cannon,Johns,2024,18,3,blue,giraffe,Arrested Development,Star Wars,beach,salted caramel,Philadelphia,Computer Science (BA),Commerce,NaN,Surfing,Skating,Hippo Campus
2,3,Serene,Lu,2024,19,5,blue,bunny,New Girl,Inception,beach,cookies n' cream,Burke,Computer Science (BA),Statistics,NaN,Playing guitar,Sleeping,Giveon
3,4,Aayushma,Bastola,2023,20,3,green,elephant,Fleabag,NaN,mountains,coffee,Fairfax,Commerce,Public Policy and Leadership,NaN,Singing,Eating,Taylor Swift

In [9]:
artists = pd.read_csv("/Users/serenelu/Desktop/Project_2/DSL_ Database Project - Neo4j_Artists.csv")
interests = pd.read_csv("/Users/serenelu/Desktop/Project_2/DSL_ Database Project - Interests.csv")
majors = pd.read_csv("/Users/serenelu/Desktop/Project_2/DSL_ Database Project - Majors.csv")
music = pd.read_csv("/Users/serenelu/Desktop/Project_2/DSL_ Database Project - Music.csv")
towns = pd.read_csv("/Users/serenelu/Desktop/Project_2/DSL_ Database Project - Towns.csv")

In [10]:
collection = db.people

In [11]:
serene = people.iloc[2]

In [12]:
serene

id                                              3
first_name                                 Serene
last_name                                      Lu
graduation_year                              2024
age                                            19
number_of_family_members                        5
fav_color                                    blue
fav_animal                                  bunny
fav_tv_show                              New Girl
fav_movie                               Inception
beach_or_mtns                               beach
fav_icecream                     cookies n' cream
hometown                                    Burke
major                       Computer Science (BA)
second_major                           Statistics
minor                                         NaN
favorite_hobby                     Playing guitar
second_favorite_hobby                    Sleeping
fav_artist                                 Giveon
Name: 2, dtype: object

In [14]:
serene_major1_dic = {}
serene_major1 = majors.iloc[1]
for i in range(len(serene_major1)):
    serene_major1_dic[serene_major1.index[i]] = str(serene_major1[i])
serene_major1_dic

{'id': '2',
 'major': 'Computer Science (BA)',
 'number_of_classes': '38',
 'school': 'Arts and Sciences',
 'credits': '112',
 'avg_start_salary': '68,600',
 'application_based': 'False',
 'graduation_honors_gpa': '3.6'}

In [15]:
serene_major2_dic = {}
serene_major2 = majors.iloc[6]
for i in range(len(serene_major2)):
    serene_major2_dic[serene_major2.index[i]] = str(serene_major2[i])
serene_major2_dic

{'id': '7',
 'major': 'Statistics',
 'number_of_classes': '38',
 'school': 'Arts and Sciences',
 'credits': '110',
 'avg_start_salary': '70,000',
 'application_based': 'False',
 'graduation_honors_gpa': '3.6'}

In [18]:
serene_hometown_dic = {}
serene_hometown = towns.iloc[3]
for i in range(len(serene_hometown)):
    serene_hometown_dic[serene_hometown.index[i]] = str(serene_hometown[i])
serene_hometown_dic

{'id': '4',
 'town': 'Burke',
 'county': 'Fairfax',
 'state': 'Virginia',
 'country': 'USA',
 'population': '41055',
 'zipcode': '22015',
 'area_code': '703'}

In [20]:
serene_interest1_dic = {}
serene_interest1 = interests.iloc[6]
for i in range(len(serene_interest1)):
    serene_interest1_dic[serene_interest1.index[i]] = str(serene_interest1[i])
serene_interest1_dic

{'id': '7',
 'hobbies': 'Playing guitar',
 'location': 'Home',
 'most_famous_person': 'Jimi Hendrix',
 'skill_level_required': '6',
 'risk_factor': '2',
 'category': 'Art'}

In [21]:
serene_interest2_dic = {}
serene_interest2 = interests.iloc[3]
for i in range(len(serene_interest2)):
    serene_interest2_dic[serene_interest2.index[i]] = str(serene_interest2[i])
serene_interest2_dic

{'id': '4',
 'hobbies': 'Eating',
 'location': 'Anywhere',
 'most_famous_person': 'Guy Fieri',
 'skill_level_required': '1',
 'risk_factor': '8',
 'category': 'Leisure'}

In [25]:
serene_artist_dic = {}
serene_artist = artists.iloc[20]
for i in range(len(serene_artist)):
    serene_artist_dic[serene_artist.index[i]] = str(serene_artist[i])
serene_artist_dic

{'id': '22',
 'name': 'Giveon',
 'monthly_listens': '48249265',
 'hometown_id': 'Long Beach',
 'age': '26',
 'net_worth': '800,000',
 'most_popular_song': 'Heartbreak Anniversary',
 'interest_id': 'Singing'}

In [26]:
nest = {}
for i in range(len(serene)):
    nest[serene.index[i]] = str(serene[i])
nest

{'id': '3',
 'first_name': 'Serene',
 'last_name': 'Lu',
 'graduation_year': '2024',
 'age': '19',
 'number_of_family_members': '5',
 'fav_color': 'blue',
 'fav_animal': 'bunny',
 'fav_tv_show': 'New Girl',
 'fav_movie': 'Inception',
 'beach_or_mtns': 'beach',
 'fav_icecream': "cookies n' cream",
 'hometown': 'Burke',
 'major': 'Computer Science (BA)',
 'second_major': 'Statistics',
 'minor': 'nan',
 'favorite_hobby': 'Playing guitar',
 'second_favorite_hobby': 'Sleeping',
 'fav_artist': 'Giveon'}

In [28]:
nest['major'] = serene_major1_dic
nest['second_major'] = serene_major2_dic
nest['hometown_id'] = serene_hometown_dic
nest['favorite_hobby_id'] = serene_interest1_dic
nest['second_favorite_hobby_id'] = serene_interest2_dic
nest['fav_artist_id'] = serene_artist_dic
nest

{'id': '3',
 'first_name': 'Serene',
 'last_name': 'Lu',
 'graduation_year': '2024',
 'age': '19',
 'number_of_family_members': '5',
 'fav_color': 'blue',
 'fav_animal': 'bunny',
 'fav_tv_show': 'New Girl',
 'fav_movie': 'Inception',
 'beach_or_mtns': 'beach',
 'fav_icecream': "cookies n' cream",
 'hometown': 'Burke',
 'major': {'id': '2',
  'major': 'Computer Science (BA)',
  'number_of_classes': '38',
  'school': 'Arts and Sciences',
  'credits': '112',
  'avg_start_salary': '68,600',
  'application_based': 'False',
  'graduation_honors_gpa': '3.6'},
 'second_major': {'id': '7',
  'major': 'Statistics',
  'number_of_classes': '38',
  'school': 'Arts and Sciences',
  'credits': '110',
  'avg_start_salary': '70,000',
  'application_based': 'False',
  'graduation_honors_gpa': '3.6'},
 'minor': 'nan',
 'favorite_hobby': 'Playing guitar',
 'second_favorite_hobby': 'Sleeping',
 'fav_artist': 'Giveon',
 'hometown_id': {'id': '4',
  'town': 'Burke',
  'county': 'Fairfax',
  'state': 'Virginia',
  'country': 'USA',
  'population': '41055',
  'zipcode': '22015',
  'area_code': '703'},
 'favorite_hobby_id': {'id': '7',
  'hobbies': 'Playing guitar',
  'location': 'Home',
  'most_famous_person': 'Jimi Hendrix',
  'skill_level_required': '6',
  'risk_factor': '2',
  'category': 'Art'},
 'second_favorite_hobby_id': {'id': '4',
  'hobbies': 'Eating',
  'location': 'Anywhere',
  'most_famous_person': 'Guy Fieri',
  'skill_level_required': '1',
  'risk_factor': '8',
  'category': 'Leisure'},
 'fav_artist_id': {'id': '22',
  'name': 'Giveon',
  'monthly_listens': '48249265',
  'hometown_id': 'Long Beach',
  'age': '26',
  'net_worth': '800,000',
  'most_popular_song': 'Heartbreak Anniversary',
  'interest_id': 'Singing'}}

In [29]:
collection.insert_one(nest)

In [9]:
import pandas as pd
import pymongo
from pymongo import MongoClient

In [2]:
client = MongoClient('localhost', 27017)
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [14]:
DSL_db = client.Aayushma

In [15]:
people = pd.read_csv("/Users/aayushma/Downloads/forge/DS-Launch-Training/week-2/Querious-George/Project 2 Data/People.csv")
artists = pd.read_csv("Project_2_Data/Artists.csv")
interests = pd.read_csv("Project_2_Data/Interests.csv")
majors = pd.read_csv("Project_2_Data/Majors.csv")
music = pd.read_csv("Project_2_Data/Music.csv")
towns = pd.read_csv("Project_2_Data/Towns.csv")

In [16]:
people

,id,first_name,last_name,graduation_year,age,number_of_family_members,fav_color,fav_animal,fav_tv_show,fav_movie,beach_or_mtns,fav_icecream,hometown_id,major,second_major,minor,favorite_hobby_id,second_favorite_hobby_id,fav_artist_id
0,1,Matt,Nicklas,2018,25,3,blue,shark,Dexter,Dark Knight,beach,cookie dough,Springfield,Mechanical Engineering,NaN,Environmental Engineering,Board games,Frisbee golf,Coldplay
1,2,Cannon,Johns,2024,18,3,blue,giraffe,Arrested Development,Star Wars,beach,salted caramel,Philadelphia,Computer Science (BA),Commerce,NaN,Surfing,Skating,Hippo Campus
2,3,Serene,Lu,2024,19,5,blue,bunny,New Girl,Inception,beach,cookies n' cream,Burke,Computer Science (BA),Statistics,NaN,Playing guitar,Sleeping,Giveon
3,4,Aayushma,Bastola,2023,20,3,green,elephant,Fleabag,Get Out,mountains,coffee,Fairfax,Commerce,Public Policy and Leadership,NaN,Singing,Eating,Taylor Swift

In [17]:
collection = DSL_db.people

In [21]:
aayushma =people.iloc[3]
aayushma

id                                                     4
first_name                                      Aayushma
last_name                                        Bastola
graduation_year                                     2023
age                                                   20
number_of_family_members                               3
fav_color                                          green
fav_animal                                      elephant
fav_tv_show                                      Fleabag
fav_movie                                        Get Out
beach_or_mtns                                  mountains
fav_icecream                                      coffee
hometown_id                                      Fairfax
major                                           Commerce
second_major                Public Policy and Leadership
minor                                                NaN
favorite_hobby_id                                Singing
second_favorite_hobby_id                          Eating
fav_artist_id                               Taylor Swift
Name: 3, dtype: object

In [36]:
majors
aayushma_major1 = majors.iloc[4]
aayushma_major1

id                                                  5
major                    Public Policy and Leadership
number_of_classes                                  37
school                                         Batten
credits                                           110
avg_start_salary                               49,380
application_based                                True
graduation_honors_gpa                             3.4
Name: 4, dtype: object

In [37]:
aayushma_major1_dict = {}
for i in range(len(aayushma_major1)):
    aayushma_major1_dict[aayushma_major1.index[i]] = str(aayushma_major1[i])

aayushma_major1_dict

{'id': '5',
 'major': 'Public Policy and Leadership',
 'number_of_classes': '37',
 'school': 'Batten',
 'credits': '110',
 'avg_start_salary': '49,380',
 'application_based': 'True',
 'graduation_honors_gpa': '3.4'}

In [38]:
aayushma_major2 = majors.iloc[5]
aayushma_major2

id                                                6
major                    Global Development Studies
number_of_classes                                34
school                            Arts and Sciences
credits                                         100
avg_start_salary                             51,774
application_based                              True
graduation_honors_gpa                           3.6
Name: 5, dtype: object

In [39]:
aayushma_major2_dict = {}
for i in range(len(aayushma_major2)):
    aayushma_major2_dict[aayushma_major2.index[i]] = str(aayushma_major2[i])

aayushma_major2_dict

{'id': '6',
 'major': 'Global Development Studies',
 'number_of_classes': '34',
 'school': 'Arts and Sciences',
 'credits': '100',
 'avg_start_salary': '51,774',
 'application_based': 'True',
 'graduation_honors_gpa': '3.6'}

In [41]:
towns
aayushma_towns = towns.iloc[5]
aayushma_towns

id                   6
town           Fairfax
county         Fairfax
state         Virginia
country            USA
population       23531
zipcode          22030
area_code          571
Name: 5, dtype: object

In [44]:
aayushma_towns_dict = {}
for i in range(len(aayushma_towns)):
    aayushma_towns_dict[aayushma_towns.index[i]]= str(aayushma_towns[i])
    
aayushma_towns_dict

{'id': '6',
 'town': 'Fairfax',
 'county': 'Fairfax',
 'state': 'Virginia',
 'country': 'USA',
 'population': '23531',
 'zipcode': '22030',
 'area_code': '571'}

In [47]:
interests

,id,hobbies,location,most_famous_person,skill_level_required,risk_factor,category
0,1,Surfing,Beach,Shaun White,9,9,Sport
1,2,Frisbee golf,Forest,Paul McBeth,6,4,Sport
2,3,Board games,Home,Monopoly Man,3,2,Leisure
3,4,Eating,Anywhere,Guy Fieri,1,8,Leisure
4,5,Video games,Home,PewDiePie,5,2,Leisure
5,6,Reading,Home,Morgan Freeman,2,1,Leisure
6,7,Playing guitar,Home,Jimi Hendrix,6,2,Art
7,8,Skating,Skate Park,Tony Hawk,8,9,Sport
8,9,Singing,Home,Beyonce,6,1,Art
9,10,Tennis,Tennis Court,Roger Federer,7,5,Sport
10,11,Sleeping,Home,Snorlax,2,1,Leisure

In [49]:
aayushma_interests1 = interests.iloc[8]
aayushma_interests1_dict = {}

for i in range(len(aayushma_interests1)):
    aayushma_interests1_dict[aayushma_interests1.index[i]]= str(aayushma_interests1[i])
    
aayushma_interests1_dict

{'id': '9',
 'hobbies': 'Singing',
 'location': 'Home',
 'most_famous_person': 'Beyonce',
 'skill_level_required': '6',
 'risk_factor': '1',
 'category': 'Art'}

In [51]:
aayushma_interests2 = interests.iloc[3]
aayushma_interests2_dict = {}

for i in range(len(aayushma_interests2)):
    aayushma_interests2_dict[aayushma_interests2.index[i]]= str(aayushma_interests2[i])
    
aayushma_interests2_dict

{'id': '4',
 'hobbies': 'Eating',
 'location': 'Anywhere',
 'most_famous_person': 'Guy Fieri',
 'skill_level_required': '1',
 'risk_factor': '8',
 'category': 'Leisure'}

In [52]:
artists.head()

,id,name,monthly_listens,hometown_id,age,net_worth,most_popular_song,interest_id
0,1,Taylor Swift,42961049,Reading,31,"400,000,000",Shake It Off,Playing guitar
1,2,HAIM,5493993,Los Angeles,35,"5,000,000",The Wire,Playing guitar
2,3,Amy Winehouse,11016435,London,27,"5,000,000",Back to Black,Playing guitar
3,4,Florence + the Machine,10407322,London,34,"28,000,000",Dog Days are Over,Reading
4,5,Chase Atlantic,6279620,Cairns,24,"7,300,000",Friends,Skating

In [54]:
aayushma_artist = artists.iloc[0]
aayushma_artist_dict = {}

for i in range(len(aayushma_artist)):
    aayushma_artist_dict[aayushma_artist.index[i]]= str(aayushma_artist[i])
    
aayushma_artist_dict

{'id': '1',
 'name': 'Taylor Swift',
 'monthly_listens': '42961049',
 'hometown_id': 'Reading',
 'age': '31',
 'net_worth': '400,000,000',
 'most_popular_song': 'Shake It Off',
 'interest_id': 'Playing guitar'}

In [55]:
aayushma_artist = artists.iloc[0]
aayushma_artist_dict = {}

for i in range(len(aayushma_artist)):
    aayushma_artist_dict[aayushma_artist.index[i]]= str(aayushma_artist[i])
    
aayushma_artist_dict

{'id': '1',
 'name': 'Taylor Swift',
 'monthly_listens': '42961049',
 'hometown_id': 'Reading',
 'age': '31',
 'net_worth': '400,000,000',
 'most_popular_song': 'Shake It Off',
 'interest_id': 'Playing guitar'}

In [57]:
nest = {}

for i in range(len(aayushma)):
    nest[aayushma.index[i]]= str(aayushma[i])
    
nest

{'id': '4',
 'first_name': 'Aayushma',
 'last_name': 'Bastola',
 'graduation_year': '2023',
 'age': '20',
 'number_of_family_members': '3',
 'fav_color': 'green',
 'fav_animal': 'elephant',
 'fav_tv_show': 'Fleabag',
 'fav_movie': 'Get Out',
 'beach_or_mtns': 'mountains',
 'fav_icecream': 'coffee',
 'hometown_id': 'Fairfax',
 'major': 'Commerce',
 'second_major': 'Public Policy and Leadership',
 'minor': 'nan',
 'favorite_hobby_id': 'Singing',
 'second_favorite_hobby_id': 'Eating',
 'fav_artist_id': 'Taylor Swift'}

In [61]:
nest['major']= aayushma_major1_dict
nest

{'id': '4',
 'first_name': 'Aayushma',
 'last_name': 'Bastola',
 'graduation_year': '2023',
 'age': '20',
 'number_of_family_members': '3',
 'fav_color': 'green',
 'fav_animal': 'elephant',
 'fav_tv_show': 'Fleabag',
 'fav_movie': 'Get Out',
 'beach_or_mtns': 'mountains',
 'fav_icecream': 'coffee',
 'hometown_id': 'Fairfax',
 'major': {'id': '5',
  'major': 'Public Policy and Leadership',
  'number_of_classes': '37',
  'school': 'Batten',
  'credits': '110',
  'avg_start_salary': '49,380',
  'application_based': 'True',
  'graduation_honors_gpa': '3.4'},
 'second_major': 'Public Policy and Leadership',
 'minor': 'nan',
 'favorite_hobby_id': 'Singing',
 'second_favorite_hobby_id': 'Eating',
 'fav_artist_id': 'Taylor Swift'}

In [62]:
nest['second_major']= aayushma_major2_dict
nest

{'id': '4',
 'first_name': 'Aayushma',
 'last_name': 'Bastola',
 'graduation_year': '2023',
 'age': '20',
 'number_of_family_members': '3',
 'fav_color': 'green',
 'fav_animal': 'elephant',
 'fav_tv_show': 'Fleabag',
 'fav_movie': 'Get Out',
 'beach_or_mtns': 'mountains',
 'fav_icecream': 'coffee',
 'hometown_id': 'Fairfax',
 'major': {'id': '5',
  'major': 'Public Policy and Leadership',
  'number_of_classes': '37',
  'school': 'Batten',
  'credits': '110',
  'avg_start_salary': '49,380',
  'application_based': 'True',
  'graduation_honors_gpa': '3.4'},
 'second_major': {'id': '6',
  'major': 'Global Development Studies',
  'number_of_classes': '34',
  'school': 'Arts and Sciences',
  'credits': '100',
  'avg_start_salary': '51,774',
  'application_based': 'True',
  'graduation_honors_gpa': '3.6'},
 'minor': 'nan',
 'favorite_hobby_id': 'Singing',
 'second_favorite_hobby_id': 'Eating',
 'fav_artist_id': 'Taylor Swift'}

In [66]:
nest["hometown_id"]= aayushma_towns_dict
nest

{'id': '4',
 'first_name': 'Aayushma',
 'last_name': 'Bastola',
 'graduation_year': '2023',
 'age': '20',
 'number_of_family_members': '3',
 'fav_color': 'green',
 'fav_animal': 'elephant',
 'fav_tv_show': 'Fleabag',
 'fav_movie': 'Get Out',
 'beach_or_mtns': 'mountains',
 'fav_icecream': 'coffee',
 'hometown_id': {'id': '6',
  'town': 'Fairfax',
  'county': 'Fairfax',
  'state': 'Virginia',
  'country': 'USA',
  'population': '23531',
  'zipcode': '22030',
  'area_code': '571'},
 'major': {'id': '5',
  'major': 'Public Policy and Leadership',
  'number_of_classes': '37',
  'school': 'Batten',
  'credits': '110',
  'avg_start_salary': '49,380',
  'application_based': 'True',
  'graduation_honors_gpa': '3.4'},
 'second_major': {'id': '6',
  'major': 'Global Development Studies',
  'number_of_classes': '34',
  'school': 'Arts and Sciences',
  'credits': '100',
  'avg_start_salary': '51,774',
  'application_based': 'True',
  'graduation_honors_gpa': '3.6'},
 'minor': 'nan',
 'favorite_hobby_id': 'Singing',
 'second_favorite_hobby_id': 'Eating',
 'fav_artist_id': 'Taylor Swift'}

In [68]:
nest["favorite_hobby_id"]= aayushma_interests1_dict
nest

{'id': '4',
 'first_name': 'Aayushma',
 'last_name': 'Bastola',
 'graduation_year': '2023',
 'age': '20',
 'number_of_family_members': '3',
 'fav_color': 'green',
 'fav_animal': 'elephant',
 'fav_tv_show': 'Fleabag',
 'fav_movie': 'Get Out',
 'beach_or_mtns': 'mountains',
 'fav_icecream': 'coffee',
 'hometown_id': {'id': '6',
  'town': 'Fairfax',
  'county': 'Fairfax',
  'state': 'Virginia',
  'country': 'USA',
  'population': '23531',
  'zipcode': '22030',
  'area_code': '571'},
 'major': {'id': '5',
  'major': 'Public Policy and Leadership',
  'number_of_classes': '37',
  'school': 'Batten',
  'credits': '110',
  'avg_start_salary': '49,380',
  'application_based': 'True',
  'graduation_honors_gpa': '3.4'},
 'second_major': {'id': '6',
  'major': 'Global Development Studies',
  'number_of_classes': '34',
  'school': 'Arts and Sciences',
  'credits': '100',
  'avg_start_salary': '51,774',
  'application_based': 'True',
  'graduation_honors_gpa': '3.6'},
 'minor': 'nan',
 'favorite_hobby_id': {'id': '9',
  'hobbies': 'Singing',
  'location': 'Home',
  'most_famous_person': 'Beyonce',
  'skill_level_required': '6',
  'risk_factor': '1',
  'category': 'Art'},
 'second_favorite_hobby_id': 'Eating',
 'fav_artist_id': 'Taylor Swift'}

In [69]:
nest["favorite_hobby_id"]= aayushma_interests2_dict
nest

{'id': '4',
 'first_name': 'Aayushma',
 'last_name': 'Bastola',
 'graduation_year': '2023',
 'age': '20',
 'number_of_family_members': '3',
 'fav_color': 'green',
 'fav_animal': 'elephant',
 'fav_tv_show': 'Fleabag',
 'fav_movie': 'Get Out',
 'beach_or_mtns': 'mountains',
 'fav_icecream': 'coffee',
 'hometown_id': {'id': '6',
  'town': 'Fairfax',
  'county': 'Fairfax',
  'state': 'Virginia',
  'country': 'USA',
  'population': '23531',
  'zipcode': '22030',
  'area_code': '571'},
 'major': {'id': '5',
  'major': 'Public Policy and Leadership',
  'number_of_classes': '37',
  'school': 'Batten',
  'credits': '110',
  'avg_start_salary': '49,380',
  'application_based': 'True',
  'graduation_honors_gpa': '3.4'},
 'second_major': {'id': '6',
  'major': 'Global Development Studies',
  'number_of_classes': '34',
  'school': 'Arts and Sciences',
  'credits': '100',
  'avg_start_salary': '51,774',
  'application_based': 'True',
  'graduation_honors_gpa': '3.6'},
 'minor': 'nan',
 'favorite_hobby_id': {'id': '4',
  'hobbies': 'Eating',
  'location': 'Anywhere',
  'most_famous_person': 'Guy Fieri',
  'skill_level_required': '1',
  'risk_factor': '8',
  'category': 'Leisure'},
 'second_favorite_hobby_id': 'Eating',
 'fav_artist_id': 'Taylor Swift'}

In [70]:
nest["fav_artist_id"]= aayushma_artist_dict
nest

{'id': '4',
 'first_name': 'Aayushma',
 'last_name': 'Bastola',
 'graduation_year': '2023',
 'age': '20',
 'number_of_family_members': '3',
 'fav_color': 'green',
 'fav_animal': 'elephant',
 'fav_tv_show': 'Fleabag',
 'fav_movie': 'Get Out',
 'beach_or_mtns': 'mountains',
 'fav_icecream': 'coffee',
 'hometown_id': {'id': '6',
  'town': 'Fairfax',
  'county': 'Fairfax',
  'state': 'Virginia',
  'country': 'USA',
  'population': '23531',
  'zipcode': '22030',
  'area_code': '571'},
 'major': {'id': '5',
  'major': 'Public Policy and Leadership',
  'number_of_classes': '37',
  'school': 'Batten',
  'credits': '110',
  'avg_start_salary': '49,380',
  'application_based': 'True',
  'graduation_honors_gpa': '3.4'},
 'second_major': {'id': '6',
  'major': 'Global Development Studies',
  'number_of_classes': '34',
  'school': 'Arts and Sciences',
  'credits': '100',
  'avg_start_salary': '51,774',
  'application_based': 'True',
  'graduation_honors_gpa': '3.6'},
 'minor': 'nan',
 'favorite_hobby_id': {'id': '4',
  'hobbies': 'Eating',
  'location': 'Anywhere',
  'most_famous_person': 'Guy Fieri',
  'skill_level_required': '1',
  'risk_factor': '8',
  'category': 'Leisure'},
 'second_favorite_hobby_id': 'Eating',
 'fav_artist_id': {'id': '1',
  'name': 'Taylor Swift',
  'monthly_listens': '42961049',
  'hometown_id': 'Reading',
  'age': '31',
  'net_worth': '400,000,000',
  'most_popular_song': 'Shake It Off',
  'interest_id': 'Playing guitar'}}

In [71]:
collection.insert_one(nest)